footer {
  align-items: center;
  background-color: $white;
  bottom: 5px;
  color: $black;
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  padding: 15px;
  width: 100%;

  @extend .type--body;

  a, p { color: $black; }
  .link--lg:hover { color: $peach; }

  ul { margin: 0; }

  @include breakpoint(md) {
    padding: 30px calc(30px + 0.3rem);

    a, p { font-weight: 400; }
  }

  small a { @extend .type--small; }

  .footer__copyright  {
    order: 3;
    width: 100%;

    @include breakpoint(md) {
      order: 0;
      width: auto;
    }
  }

  .footer__contact,
  .footer__social,
  .footer__pages {
    padding: 1rem 0;
    width: 33.333%;

    @include breakpoint(md) {
      padding: 0;
      width: auto;
    }
  }

  .footer__links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @include breakpoint(md) {
      flex-wrap: no-wrap;
    }
  }
}
