// Form styles
// --------------------------------------------------

form {
  text-align: left;
  width: 100%;

  textarea,
  input {
    border: 1px solid $black;
    border-radius: 0;
    color: $black;
    font-family: $sanserif;
    font-weight: 300;
    padding: 0.66rem;
    width: 100%;
  }

  textarea::placeholder { color: $black; }
  input::placeholder { color: $black; }

  label {
    font-weight: 300;
  }
}

.form--small {
  max-width: 700px;
  width: auto;
}

input[type="number"] {
  max-width: 50px;
  width: auto;

  @include breakpoint(md) {
    max-width: 100px;
  }
}

select {
  appearance: none;
  background-color: $white;
  background-image: url('//cdn.shopify.com/s/files/1/2163/9575/t/1/assets/ico-select.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-radius: 0;
  border: 1px solid $black;
  color: $black;
  cursor: pointer;
  display: block;
  line-height: 1.2;
  padding-right: 28px;
  padding: 10px;
  text-indent: 0.01px;
  text-overflow: '';
  width: 50%;
}

.contact-form {
  h4 { margin: 0; }
}

.contact-form,
.storefront-password-form,
.form--search {
  display: flex;

  input { border: 1px solid $black; }
  button {
    margin: 0 5px;
  }
}

.contact-form {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;

  input, textarea { padding: 1rem; }
  label { display: none; }

  .grid { margin-bottom: 1rem; }

  @include breakpoint(md) {
    .grid--half:first-of-type { padding-right: 1rem; }
  }
}

// newsletter form
.newsletter-form #mc_embed_signup {
  margin-top: 1rem;

  input[type="submit"],
  input {
    background-color: transparent;
    border-color: $white;
    color: $white;
  }

  input::placeholder { color: $white; }

  input[type="submit"]:hover {
    border-color: $black;
    color: $black;
  }

  .mc-field-group {
    width: 100%;
  }
}

#mc_embed_signup_scroll {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

#mc_embed_signup {
  input[type="submit"]:hover {
    background-color: transparent;
    border-color: $peach;
    color: $peach;
    cursor: pointer;
  }
}

.mc-field-group {
  position: relative;

  input { border-right: none; }

  label { display: none; }

  // label {
  //   left: 0.66rem;
  //   position: absolute;
  //   top: 0.66rem;
  //   transition: all 0.3s;
  // }

  // &:active,
  // &:focus,
  // &:focus-within {
  //   label {
  //     top: -1.66rem;
  //   }
  // }
}
