// Product styles
// --------------------------------------------------

.collection-list {
  .grid {
    align-items: center;
    justify-content: center;
    position: relative;

    .collection-list__img {
      position: relative;
    }

    .collection-list__img {
      opacity: 0;
      transition: opacity 0.4s 0.3s;
    }

    &:after {
      background-color: $white;
      content: '';
      height: 1px;
      opacity: 0.5;
      position: absolute;
      left: 0;
      right: auto;
      top: calc(100% - 110px);
      transition: width 0.3s;
      width: 0;
    }

    @include breakpoint(md) {
      &:after {
        left: 0;
        margin: 0 auto;
        right: 0;
        top: calc(50% - 1px);
      }
    }

    &.in {
      .collection-list__img { opacity: 1; }

      &:after {
        width: 50%;
        @include breakpoint(md) { width: 15%; }
      }

      &:hover{
        .top img { opacity: 0; }
        .bottom img { opacity: 1; }

        &:after { width: 20% !important; }
      }
    }

  }

  li {
    margin: 100px 0;

    .grid--half {
      align-items: center;
      justify-content: center;
      text-align: right;
    }

    &:nth-of-type(even){
      .grid:after {
        right: 0;
        left: auto;
      }

      .grid--half { text-align: left; }
    }

    @include breakpoint(md) {
      &:nth-of-type(even) a {
        flex-direction: row-reverse;
      }

      &:nth-of-type(even) {
        .grid--half { text-align: center; }

        .grid:after {
          right: 0;
          left: 0;
        }
      }

      .grid--half { text-align: center; }
    }
  }
}

.hover-img {
  max-width: none !important;

  &.top {
    img {
      filter: grayscale(100%);
      mix-blend-mode: multiply;
      opacity: 1;
      transition: opacity 0.6s;
    }
  }

  &.bottom {
    img {
      opacity: 0;
      bottom: 0;
      left: auto;
      position: absolute;
      right: 0;
      top: 0;
      transform: none;
      transition: opacity 0.6s;
    }
  }

  @include breakpoint(md) {
    &.bottom {
      img {
        left: 50%;
        right: 0;
        transform: translateX(-50%);
      }
    }
  }
}

.product-page {
  margin: 30px auto 0;
  max-width: 1200px;
  // padding: 0 1rem;

  .breadcrumbs {
    margin: 0;
    padding: 0;
    // padding-bottom: 30px;
  }

  .social-sharing {
    margin: 50px auto 0;
  }

  @include breakpoint(md) {
    margin-top: 50px;
    // padding: 0 5rem;

    .social-sharing {
      margin: 50px 0 0;
    }
  }
}

.product-title {
  margin-top: 0;
}

.product__images {
  padding-left: 0;
  padding-top: 30px;

  @include breakpoint(md) {
    padding-left: 30px;
    padding-top: 0;
  }
}

.product-images--hidden {
  display: none;
}

.product-image--main {
  min-height: 350px;
  position: relative;

  .responsive-image__wrapper {
    img { width: 100%; }
  }
}

.responsive-image__wrapper {
  max-width: none !important;
}

.product-image--thumbs {
  flex-wrap: wrap;
  flex-direction: row;
  padding-right: 50px;

  a {
    display: block;
  }

  li { padding-right: 15px; }

  img {
    width: 100%;
  }
}

.product-image--1 {
  display: none;
}

.product-image--2,
.product-image--3 {
  li { width: 33%; }
}

.product-image--4 {
  li { width: 25%; }
}

.product-image--5 {
  li { width: 20%; }
}

.product__content {
  h1 {
    margin-top: 0;
  }
}

.product__price {
  padding-left: 5px;
}

.product-form__variants {
  display: none;
}

.product-form__submit {
  margin-left: 5px;
  width: 50%;
}

.product__description {
  margin-top: 30px;

  p { max-width: 90%; }

  ul {
    @extend .type--body;
  }

  @include breakpoint(md) {
    margin-top: 50px;

    p { max-width: 80%; }
  }
}

.related-products {
  margin-top: 100px;
}

.related-products__list {
  justify-content: space-around;
  width: 100%;
}

.product-thumb {
  align-items: center;

  &:hover {
    .product-thumb__content:before { width: 80px; }
  }
}

.product-thumb__content {
  align-items: center;
  justify-content: space-around;
  padding: 3rem 1rem;
  position: relative;

  &:before {
    background-color: $white;
    content: '';
    height: 1px;
    margin: 0 auto;
    opacity: 0.6;
    position: absolute;
    top: 1.5rem;
    transition: width 0.3s ease-in;
    width: 50px;
  }

  h5, p { margin: 0; }

  p {
    font-weight: 100;
    line-height: 1.75rem;

    @include breakpoint(md) {
      font-weight: 300;
      line-height: 2.5rem;
    }
  }
}
