// Form styles
// --------------------------------------------------

form {
  text-align: left;
  width: 100%;

  textarea,
  input {
    border: 1px solid $black;
    border-radius: 0;
    color: $black;
    font-family: $sanserif;
    font-weight: 300;
    padding: 0.5rem;
    width: 100%;
  }

  label {
    font-weight: 300;
  }
}

.form--small {
  max-width: 700px;
  width: auto;
}

input[type="number"] {
  max-width: 50px;
  width: auto;

  @include breakpoint(md) {
    max-width: 100px;
  }
}

select {
  appearance: none;
  background-color: $white;
  background-image: url('//cdn.shopify.com/s/files/1/2163/9575/t/1/assets/ico-select.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-radius: 0;
  border: 1px solid $black;
  color: $black;
  cursor: pointer;
  display: block;
  line-height: 1.2;
  padding-right: 28px;
  padding: 10px;
  text-indent: 0.01px;
  text-overflow: '';
  width: 50%;
}

.contact-form {
  h4 { margin: 0; }
}

.product-form {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.product-form__item {
  margin-bottom: 10px;
  margin-left: 5px;
  width: 50%;

  label {
    display: block;
    padding: 5px 0;
  }

  select {
    display: block;
    width: 100%;
  }
}

.contact-form,
.storefront-password-form,
.form--search {
  display: flex;

  input { border: 1px solid $black; }
  button {
    margin: 0 5px;
  }
}

.contact-form {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;

  input, textarea { padding: 1rem; }
  label { display: none; }

  .grid { margin-bottom: 1rem; }

  @include breakpoint(md) {
    .grid--half:first-of-type { padding-right: 1rem; }
  }
}
