// Import fonts
// --------------------------------------------------

body {
  background-color: $peach;
  color: $white;
  padding: 15px;
  position: relative;
  min-height: calc(100vh - 30px);

  @include breakpoint(md) {
    padding: 30px;
    min-height: calc(100vh - 60px);
  }
}

.body-wrap {
  overflow: auto;
}

.content {
  min-height: calc(100vh - 110px);
  padding: 80px 0;

  @include breakpoint(md) {
    padding: $navHeight 1rem;
  }
}

.social-sharing {
  display: flex;
  max-width: 100px;

  li {
    margin-right: 0.5rem;
  }

  svg * { transition: fill 0.3s; }

  a {
    &:hover { svg * { fill: $black; } }
  }
}

.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;

  .grid--half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &:nth-child(even) {
      .content-wrap {
        opacity: 0;
        transition: opacity 0.6s 0.8s;
      }

      &:before {
        background-color: $white;
        content: '';
        height: 1px;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
      }

      @include breakpoint(md) {
        &:before {
          background-color: $white;
          content: '';
          height: 0;
          left: 0;
          opacity: 1;
          position: absolute;
          transition: height 0.6s;
          top: auto;
          width: 1px;
        }
      }
    }

    &.in { .content-wrap { opacity: 1; } }

    @include breakpoint(md) {
      &.in {
        &:last-child:before { height: 66%; }
      }
    }
  }
}

.content__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content-wrap {
    margin: 0 auto;
    padding: 30px 0;
    width: 80%;
  }

  @include breakpoint(md) {
    .content-wrap {
      width: 50%;
    }
  }
}

.content--pad {
  padding: 30px 0;
  @include breakpoint(md) {
    padding: 50px 0;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint(md) {
    &--row {
      flex-direction: row;
    }
  }
}

.grid--half {
  height: 100%;
  width: 100%;

  @include breakpoint(md) {
    width: 50%;
  }
}

.grid--70 {
  height: 100%;
  width: 100%;

  @include breakpoint(md) {
    width: 70%;
  }
}

.grid--60 {
  height: 100%;
  width: 100%;

  @include breakpoint(md) {
    width: 60%;
  }
}

.grid--40 {
  height: 100%;
  width: 100%;

  @include breakpoint(md) {
    width: 40%;
  }
}

.grid--30 {
  height: 100%;
  width: 100%;

  @include breakpoint(md) {
    width: 30%;
  }
}

.breadcrumbs {
  margin: 2rem 0;
  padding: 1rem 0;

  span {
    padding: 10px 0;
  }

  @include breakpoint(md) {
    margin: 2rem 0;
    padding: 1rem 5rem;

    span { padding: 10px 5px; }
  }
}

// Homepage
.lg-text--list {
  max-width: 900px;
  margin: 0 auto;

  ul {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 50px 0;
  }

  @include breakpoint(md) {
    ul {
      border: none;
      padding: 0;
    }
  }
}

.coming-soon {
  padding: 50px;
  width: 100%;

  h4, h5 { margin: 0; }

  @include breakpoint(md) {
    padding: 100px;
  }
}

.homepage {
  flex-direction: column-reverse;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;

  .grid--half:last-child .content-wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .type--right { text-align: left; }

  @include breakpoint(md) {
    flex-direction: row;
    padding-bottom: 50px;

    .type--right { text-align: right; }

    .grid--half:last-child {
      align-items: flex-end;

      .content-wrap { display: block; }
    }
  }

  @include breakpoint(md) {
    .grid--half:first-child {
      .content-wrap { padding-right: 30px; }
    }
  }

  .grid--half {
    p {
      max-width: 400px;

      &.type--right {
        margin-left: auto;
        padding-right: 3px;
      }
    }
  }
}

.contact {
  .type--right { text-align: center; }
  @include breakpoint(md) {
    .type--right { text-align: right; }
  }

  p {
    margin-left: auto;
    max-width: 600px;
  }
}

.image-wrap {
  margin: 0;

  img {
    display: block;
    filter: grayscale(100%);
    margin: 30px auto 0;
    mix-blend-mode: multiply;
    -webkit-mix-blend-mode: multiply;
    width: 70%;
  }

  @include breakpoint(md) {
    img { margin: 0; }
  }
}

.insta-feed {
  @include breakpoint(md) {
    padding: 30px 0;
  }
}

.instafeed-container {
  img {
    mix-blend-mode: multiply;
  }
}

// Password page
.password-page {
  .content-wrap {
    margin: 0 auto;
    width: 80%;

    div, ul { margin: 0 auto; }
  }
}

// Search page
.search__top {
  margin: 0 auto;
}
