<section class="center-content grid grid--row">
  <header role="banner" class="grid--half">
    <h2 class="type--xl">404</h2>
  </header>
  <div class="grid--half js-line">
    <p>Oops! The page you are looking for was not found.</p>
  </div>
</section>
