{%- assign collection = collections.first -%}

<section class="lg-text--list center-content grid content--pad">
  <h2 class="type--header type--lg type--left type--full">
    By Femmes,
    <br />
    For Femmes
  </h2>
  <ul class="list--reset list--wide">
    {% for product in collection.products %}
      <li class="type--left">
        <a href="{{ product.url | within: collection }}" class="link--lg type--header type--lg">{{ product.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h3 class="type--left type--full">
    <a href="/collections/frontpage" class="link--lg type--header type--lg">Collection</a>
  </h3>


  <div class="coming-soon">
    <h4 class="type--left type--full">
      Lookbook coming soon...
    </h4>

    <h5 class="type--left type--full">
      <a href="/pages/about" class="link--lg">Get in touch with us</a>
    </h5>
  </div>
</section>

<div class="insta-feed">
  <div id="insta-feed"></div>
</div>
