<form action="/search" method="get" role="search" class="form--search">
  <input type="search" name="q" id="Search-{{ section.id }}" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">
  <button type="submit" class="button">
    <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
  </button>
</form>
