<section class="center-content grid grid--row content--pad homepage">
  <div class="grid--half">
    <div class="content-wrap type--left">
      <figure class="image-wrap">
        <img src="https://scontent-lga3-1.cdninstagram.com/vp/96e0c1c46354567628daf0a2154529e7/5C51740C/t51.2885-15/e35/30841940_158525051508370_4118868427068669952_n.jpg" alt="">
      </figure>
    </div>
  </div>
  <div class="grid--half js-line">
    <div class="content-wrap">
      <div class="type--right">
        <h2>For females & femmes, <br /> by females.</h2>
      </div>
      <p class="type--lowercase type--right">Trüs Jewelry is small female owned and run fine jewelry brand. Our collection is designed and made in small batches in NYC.</p>
    </div>
  </div>
</section>

<section class="content__bottom">
  <div class="content-wrap type--center">
    <a href="/collections/all" class="button">Shop our Collection</a>
  </div>

  <div class="insta-feed">
    <div id="insta-feed"></div>
  </div>
</section>
