<section class="center-content grid grid--row">
  <header role="banner" class="grid--half">
    <h2 class="type--xl">Trüs Jewelry</h2>
  </header>
  <div class="grid--half">
    <p>Made by us, for us.</p>
  </div>
</section>
