// ======================================================================================================
// Variables
// ======================================================================================================

// Breakpoints
// --------------------------------------------------
$break-xs:  350px  !default;
$break-sm:  580px  !default;
$break-md:  768px  !default;
$break-lg:  1024px !default;
$break-xl:  1280px !default;

// Colors
// --------------------------------------------------
$white:  #FFFFFF !default;
$peach:  #d89384 !default;
$pink:   #dbaa9c !default;
$black:  #5B3226 !default;

// Global heights
// --------------------------------------------------
$navHeight:      50px !default;
$footerHeight:   90px !default;

// Fonts
// --------------------------------------------------
$sanserif: 'Montserrat', sans-serif !default;
